<a href="https://colab.research.google.com/github/tdolce2021/Repo_Dolce/blob/main/Dolce_2023_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stats Notebook Lab #3

### Loops

In [ ]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

printing "i" made the system display 100 numbers, starting with 0 of course

In [ ]:
for i in range(5,8):
    print(i)

5
6
7

this "i" printed between 5 and 8

In [ ]:
for i in range(3):
    print( "Test Number: " , i )

Test Number:  0
Test Number:  1
Test Number:  2

saying "print" [words] for "i" made the system copy the words PLUS recite and list 3 numbers

### Functions

In [ ]:
def square(x):
    return x**2

this told the system that when it says "square", to actually square whatever number is in the parentheses that represents the x

In [ ]:
square(5)

25

here it squared 5 which gave 25

In [ ]:
square(square(2))

16

this equation made the system do the original, square whats in the bracket that represents x, but also, square THAT answer because it was also placed in brackets to represent x, thus causing it to be squared as well

In [ ]:
square(square(square(2)))

256

this, square the inside of the first parentheses, then square that naswer, then square that answer

In [ ]:
square(123456)

15241383936

In [ ]:
square(square(5))

625

In [ ]:
def add_two(x):
    return x+2

this function "add_two" returns as adding 2 to whatever number is in the parentheses for x.

In [ ]:
add_two(5)

7

here, 5 is in the parentheses, so two was added, givng 7

In [ ]:
square(add_two(5))

49

here two functions are used. using pemdas, we first focus on the insdie of the parentheses. therefore, we add two to the 5 inside the function, which gives 7. the "square" function now makes the system square the answer to the previous function, resulting in 49

### Logical Branching

In [ ]:
choice = "apple"

In [ ]:
if choice == "apple":

    print("You choose apples.")

else:
    
    print("You did not choose apples.")

You choose apples.

in the previous line, "choice" was made to represent apple. this whole function here is saying if the choice IS apple then it prints "You choose apples" and the "else", means if choice IS NOT apples then it prints that apples wasnt the choice

In [ ]:
choice = "orange"

In [ ]:
if choice == "apple":

    print("You choose apples.")

else:
    
    print("You did not choose apples.")

You did not choose apples.

in the previous line. choice was made to be orange. keeping the same function as before, the "CHOICE" was NOT apple, it was orange. therefore the system came back with "You did not choose apples"

In [ ]:
choice = "apple"

In [ ]:
if choice == "apple":

    print("You choose apples.")
    print("Thank you, shop again!")
    print(2**123)

elif choice == "orange":

    print("You choose oranges.")
    print("Thank you, shop again!")

else:
    
    print("You did not choose apples or oranges.")
    print("Thank you, shop again!")

You choose apples.
Thank you, shop again!
10633823966279326983230456482242756608

### User Input

In [ ]:
choice = input("Please enter your choice (i.e. apple): ")

Please enter your choice (i.e. apple): apple

here, the system is promtped to let the user type in an answer. keeping the same wording, "CHOICE"

In [ ]:
choice

'apple'

In [ ]:
if choice == "apple":

    print("You choose apples.")

elif choice == "oranges":

    print("You choose oranges.")

else:
    
    print("You did not choose apples or oranges.")

You choose apples.

the system was told to respond if the user chose apples, oranges, or if neither was chosen, then say neither was chosen.in the previous line the choice was orange" so the sustem returned with "You cgoose oranges."

#### Coins

In [ ]:
np.random.random()

NameError: ignored

#generator of random numbers

In [ ]:
np.random.random() > 0.5

this means generate numbers greater than 0.5

In [ ]:
def flip_coin():
    if np.random.random() > 0.5:
        print("Heads")
    else:
        print("Tails")

tells the system if the number is greater than 0.5 then respond with "Heads", if not (labeled by "else"), then return with "Tails"

In [ ]:
flip_coin()

### Graphics Output

In [ ]:
from IPython.core.display import display, HTML

In [ ]:
display(HTML('<h1>Hello, world!</h1>'))

"display" is self explanatory
- "h1" - the h may mean header which makes the words appear in bold

In [33]:
def coin():
  return np.random.randint(2)

coin wasgiven a function to come back as a random number

In [34]:
coin()

NameError: ignored

In [35]:
display(HTML('<img src="https://random-ize.com/coin-flip/us-quarter/us-quarter-front.jpg">'))

coin (:

In [36]:
heads = 'https://random-ize.com/coin-flip/us-quarter/us-quarter-front.jpg'
tails = 'https://random-ize.com/coin-flip/us-quarter/us-quarter-back.jpg'

labeled the images with the name of the side of the coin they represent

In [37]:
def show_img(img):
  display(HTML('<img src=' + img + '>'))

"show_img" was made to allow the system to display the assigned image in the .
parentheses

In [ ]:
show_img(heads)

heads was assigned its link with the image. now, the function "show_img" has heads in the parentheses so it will display the assigned photo

In [ ]:
show_img(tails)

In [ ]:
def flip_coin():

    if coin():
        show_img(heads)
    else:
        show_img(tails)

this function is made to show heads vs tails IMAGE depending on the input

In [39]:
flip_coin()

NameError: ignored

In [38]:
for i in range(5):
    flip_coin()

NameError: ignored

In [ ]:
#@title Coin Flip

if coin():

  show_img(heads)

else:

  show_img(tails)

### Cards

In [ ]:
def shuffle(x):
    for i in range(len(x)-1,0,-1):
        j = np.random.randint(0,i+1)
        x[i],x[j] = x[j],x[i]
        # print(j,x)
    return x

In [ ]:
a = np.arange(52)

In [ ]:
shuffle(a)

In [ ]:
np.random.permutation(52)

### Speed Test

In [ ]:
%%timeit
shuffle(a)

In [ ]:
%%timeit
np.random.permutation(52)

In [ ]:
import numpy as np

In [ ]:
np.random.permutation(52)

In [ ]:
cards = np.random.permutation(52)

In [ ]:
cards

In [ ]:
cards[0]

In [ ]:
cards[1]

In [ ]:
cards[2]

<img src='http://www.milefoot.com/math/discrete/counting/images/cards.png'>

In [ ]:
np.arange(52).reshape(4,13)

In [ ]:
np.arange(52).reshape(4,13)%13

In [ ]:
np.arange(52).reshape(4,13)//13

In [ ]:
suits = ['Clubs','Spades','Hearts','Diamonds']
names = ['Ace','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Jack','Queen','King']

In [ ]:
def card_name(card_number):
    
    suit = card_number//13
    name = card_number%13

    return names[name] + " of " + suits[suit]

In [ ]:
card_name(0)

In [ ]:
card_name(51)

In [ ]:
cards = np.random.permutation(52)

In [ ]:
top_of_deck         = card_name(cards[0])
second_card_in_deck = card_name(cards[1])
last_card_in_deck   = card_name(cards[-1])

In [ ]:
top_of_deck, second_card_in_deck, last_card_in_deck

In [ ]:
for i in range(5):
    print(card_name(cards[i]))

In [ ]:
for i in range(15):
    print(card_name(cards[i]))

https://www.improvemagic.com/all-playing-cards-names-with-pictures/

In [ ]:
card_url_head = "https://www.improvemagic.com/wp-content/uploads/2020/11/"
card_url_tail = ".png"

In [ ]:
suit = ['k','p','s','l']
card = ['a','2','3','4','5','6','7','8','9','10','j','q','k']

In [ ]:
i = np.random.randint(4)
j = np.random.randint(13)

In [ ]:
i,j

In [ ]:
suit[i]

In [ ]:
card[j]

In [ ]:
from IPython.core.display import display, HTML

In [ ]:
def show_img(img):
  display(HTML('<img src=' + img + '>'))

In [ ]:
img = card_url_head + suit[i] + card[j] + card_url_tail

In [ ]:
show_img(img)

In [ ]:
def card_image(card_number):
    
    i = card_number//13
    j = card_number%13

    return suit[i]+card[j]

In [ ]:
card_image(3)

In [ ]:
img = card_url_head + card_image(3) + card_url_tail

In [ ]:
show_img(img)

In [ ]:
for i in range(52):
    img = card_url_head + card_image(i) + card_url_tail
    show_img(img)